* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 50px 1fr 50px;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
  min-height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.logo {
  grid-column: 1 / 2;
  text-align: start;
}

.menu {
  grid-column: 2 / 3;
}

.menu ul {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: space-evenly;
  list-style: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / 4 / 2;
  display: grid;
  grid-template-rows: repeat(4, 150px);
  align-content: space-around;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.sidebar .photo,
.sidebar .side-content {
  display: grid;
  justify-content: center;
  place-items: center;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 3 / 3;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  margin-top: 10px;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 5 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}